body{
  background-color: blue;
}
nav
{
    background-color:aqua;
    float:left;
    height: 100vh;
    /*vertical height */
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/*anything with anchor tag, a, this is for the lists*/
li a{
    margin:5px;
    padding: 1em 1.5em;
    background-color: wheat;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: navy;
    border-radius: 20px;

}
li a:hover{
    background-color: blue;
}
ol{
    padding-left: 50px
}
