body{
  background-color: lightgrey;
}
nav
{
    float:left;
    height: 100vh;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 33.33%;
}
/*anything with anchor tag, a, this is for the lists*/
li a{
    margin:5px;
    padding: 1em 1.5em;
    background-color: wheat;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: navy;
    border-radius: 20px;
    text-align: center;

}
li a:hover{
    background-color: darkgray;
}
ol{
    padding-left: 50px
}
.Title{
    text-align: center;
    font-family:Rockwell;
}

.nav {
    background-color: lavender;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
}